.carousel-control.top {
    width: 100%;
    height: 30px;
}
.carousel-control.bottom {
    top: 80%;
    width: 100%;
    height: 20%;
}
.carousel-control.left {
    text-align: left;
}
.carousel-control.right {
    margin-left: 80%;
}
.carousel-control.remove {
    text-align: right;
    width: 30%;
    margin-left: 70%;
}
.glyphicon {
    cursor: pointer;
}
.glyphicon.main {
    cursor: default;
}
.carousel-control.arrow {
    top: 30px;
    height: calc(100% - 30px);
}
#car_inner div.no_photo {
    background-image: url(../img/no-photo.jpg);
    height: 390px;
}

.table_photo_upload {
    table-layout: fixed;
}
#files td:first-child {
    width: 116px;
}
/* Чтобы длинное название файла не выходило за границы попапа для загрузки файлов */
#files p.name {
    width: 100%;
    white-space: nowrap; /* Отменяем перенос текста */
    overflow: hidden; /* Обрезаем содержимое */
    padding: 5px; /* Поля */
    text-overflow: ellipsis; /* Многоточие */
    display: inline-block;
    text-align: center;
}
#files p.name:hover {
    white-space: normal; /* Обычный перенос текста */
}

#page-preloader {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: #fff;
    z-index: 100500;
}
#page-preloader .spinner {
    width: 32px;
    height: 32px;
    position: absolute;
    left: 50%;
    top: 50%;
    background: url(../img/ajax-loader.gif) no-repeat 50% 50%;
    margin: -16px 0 0 -16px;
}


#upload_button {
    margin-top:10px;
}
.custom_alert{
    height:52px;
    margin-bottom:10px;
    margin-top:5px;
    text-align: left;
}
.image_content {
    max-width:555px;
    margin:auto;
}

.thumbnail {
    border: 0 none;
    box-shadow: none;
    margin:0;
    padding:0;
}

.caption h4 {
    color: #fff;
    -webkit-font-smoothing: antialiased;
}
.col-md-6.portfolio-item {
    max-width:525px;
    max-height:390px;
    border-radius: 10px;
    margin: 5px;
}
.thumbnail .caption {
     padding: 5px;
     color: #333;
     border-radius: 0 0 10px 10px;
     max-width: 516px;
 }
.thumbnail a>img, .thumbnail>img {
    margin-right: auto;
    margin-left: auto;
    border-radius: 10px;
}
.caption {
    width: 100%;
    bottom: 0.2rem;
    position: absolute;
    background-image: -webkit-linear-gradient(to bottom, rgba(0, 0, 0, .0001) 0, rgba(0, 0, 0, .6) 70%);
    background-image: -moz-linear-gradient(to bottom, rgba(0, 0, 0, .0001) 0, rgba(0, 0, 0, .6) 70%);
    background-image: -o-linear-gradient(to bottom, rgba(0, 0, 0, .0001) 0, rgba(0, 0, 0, .6) 70%);
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, .0001) 0, rgba(0, 0, 0, .6) 70%);
}
.caption.top{
    width: 100%;
    margin-bottom:240px;
    top: 0.2rem;
    position: absolute;
    background-image: none;
    border-radius: 10px 10px 0 0 ;
}
.panel-body {
    width: 100%;
    background-image: -webkit-linear-gradient(to bottom, rgba(0, 0, 0, 0.0001) 0, rgba(255, 255, 255, .9) 0%);
    background-image: -moz-linear-gradient(to bottom, rgba(0, 0, 0, 0.0001) 0, rgba(255, 255, 255, .9) 0%);
    background-image: -o-linear-gradient(to bottom, rgba(0, 0, 0, 0.0001) 0, rgba(255, 255, 255, .9) 0%);
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.0001) 0, rgba(255, 255, 255, .9) 0%);
}
.thumbnail .caption.top {
    padding: 0px;
}
.panel-heading a:focus,.panel-heading a:hover {
    color: #23527c;
    text-decoration: none;
}
.profile-left {
    float:left;
    font-size: 30px;
    color: #337ab7;
}
.profile-right {
    float:right;
    font-size: 30px;
    color: #337ab7;
}
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 30px;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.fa-venus {
    color: #FF0000;
}
.profile_ico {
    font-size:30px;
    font-weight: bold;
}
.bambi_high {
    margin:5px;
}
.carousel.slide.no-control .carousel-control.arrow {
    top: 0px;
}
#pp {
    position: fixed;
    top:-550px; left:50%;
    margin-left:-285px;
    width: 570px;
    background:#f0f0f0;
    z-index:999999;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
}

#pp .pp-header, #pp .pp-footer{
    padding: 10px;
    background: #3D9970;
    box-shadow: inset 0px -3px 0px rgba(0, 0, 0, 0.2);
}
#pp .pp-header h3{
    margin:0;
    font: normal 1.7em/1.3 Verdana;
    color: #fff;
    text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.7);
    text-align: center;
}
#pp .pp-footer { background: #EAEAEC; }
#pp .pp-footer input {
    padding: 8px 12px;
    border-radius: 3px;
    outline: none;
    border: 1px solid #dfdfdf;
}
#pp-bg {
    position: fixed;
    top:0; left:0;
    width:100%; height: 100%;
    background: rgb(170, 170, 170);
    z-index:99999;
    display: none;
}
.btn:hover { background-color: #339970; }
.btn:active { top: 1px; }
.show-more {
    position: absolute;
    margin: 20px;
    max-width: 1050px;
    width: 100%;
}
.center {
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, 0);
}
.records {
    top: 50%;
    transform: translate(0%, 31%);
    position: absolute;
    font-weight: bold;
}
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 0 -30px 0;
    padding: 0;
}
.footer-push, .footer {
    height: 50px;
    margin: 20px;
    padding: 0;
}
.panel-group {
    bottom: 0;
    margin: 0;
    color: #223840;
}

.header-cool {
    position: relative;
}
.panel-heading a{
    color: #223840;
}
.panel-heading {
    background-image: -webkit-linear-gradient(to top, rgba(0, 0, 0, 0.0001) 0, rgba(255, 255, 255, .9) 0%);
    background-image: -moz-linear-gradient(to top, rgba(0, 0, 0, 0.0001) 0, rgba(255, 255, 255, .9) 0%);
    background-image: -o-linear-gradient(to top, rgba(0, 0, 0, 0.0001) 0, rgba(255, 255, 255, .9) 0%);
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.0001) 0, rgba(255, 255, 255, .9) 0%);
}
.panel-body {
    max-height: 115px;
    overflow: hidden;
    position: relative;
}
.text-overflow {
    position: absolute;
    top: 60px;
    left: 0;
}