*
{
    padding:0;
    margin:0;
}
html,body
{
    width:100%;
    min-width:700px;
    font-size:14px;
}
body
{
    font-family: PragmaticaCBold;
}
.clear
{
    clear:both;
}
.none
{
    display:none;
}
.bold
{
    font-weight:bold;
}
.vissible
{
    visibility:hidden;
}
.header
{
    width:99%;
    margin:auto;
    padding:1%;
}
.header h1
{
    color:#265A6E;
}
.content_nav
{
    width:99%;
    /*min-width: 1000px;*/
    margin:auto; 
    padding:1% 0 5% 0;
}
.nav
{
    width: 270px;
    padding:1px;
    float:left;
}
.nav_region,.nav_menu,.content >div
{
    -moz-border-radius: 0.5em;
    -webkit-border-radius: 0.5em;
    border-radius: 0.5em;
    -moz-box-shadow: 0 5px 7px #b9b8b8;
    -webkit-box-shadow: 0 5px 7px #b9b8b8;
    box-shadow: 0 5px 7px #b9b8b8;
}
.nav_region
{
    margin-top:20px;
    padding:3%;
}
.nav_region
{
    font-size: 14px;
    color: #FFF;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    behavior: url(js/PIE.htc);
    border: none;
    background: #5E9EB6;
    background: -moz-linear-gradient(top, #5E9EB6 0%, #265A6E 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5E9EB6), color-stop(100%,#265A6E));
    background: -webkit-linear-gradient(top, #5E9EB6 0%,#265A6E 100%);
    background: -o-linear-gradient(top, #5E9EB6 0%,#265A6E 100%);
    background: -ms-linear-gradient(top, #5E9EB6 0%,#265A6E 100%);
    background: linear-gradient(top, #5E9EB6 0%,#265A6E 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5E9EB6', endColorstr='#265A6E',GradientType=0 );
    -moz-box-shadow: 0 2px 2px #acacac;
    -webkit-box-shadow: 0 2px 2px #acacac;
    box-shadow: 0 2px 2px #acacac;
    cursor: pointer;
    border-bottom: 1px solid #0C3747;
    font-family: PragmaticaCBold; 
}
.nav_region >div:last-child
{
    width:100%;
}
.nav_region >div table
{
    width:100%;
}
.nav_region >div table td
{
     width:85%;
}
.nav_region >div:last-child input[type="text"]
{
    width:91%;
    padding:3% 3% 3% 3%;
    
}
 input.btn_address
{
    background: #e6e6e6;
    background-image:url('../img/but_bg_dis.png');
    background-repeat: no-repeat;
    background-position: 45% 60%;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6e6e6', endColorstr='#c7c7c8',GradientType=0 );
    border: none;
    cursor: pointer;
    font-size: 14px;
    color: #265A6E;
    font-family: PragmaticaCBold;
    padding:16% 40% 19% 40%;
    -moz-box-shadow: 0 2px 1px #0c3747;
    -webkit-box-shadow: 0 2px 1px #0c3747;
    box-shadow: 0 2px 1px #0c3747;
    position: relative;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    behavior: url(js/PIE.htc);
}
.nav_region >div:last-child input[type="button"]
{
    width: 51px;
    height: 30px;
    background: url(../img/but_bg.png) no-repeat;
    background-size:93%;
    border: none;
    cursor: pointer;
    position: relative;
    left: -4px;
    top: 2px;
    margin: 0 0 0 -2px;
}

.nav_region label,.nav_menu a
{
    font-style: normal;
}
.nav_region label
{
    color:#ffffff;
    font-size: 13px;
    font-weight: bold;
}

.nav_menu,.content >div
{
    background-color: #F3F3F3;
}
.nav_menu
{
    margin-top:10%;
    padding:5% 0 5% 0; 
    cursor: pointer;
}
.nav_menu >div
{
    width:107%;
}
.nav_menu >div div
{
   width:94%;
   min-height:50px;
   border-bottom:1px solid #d5d2d2;
}
.nav_menu hr
{
    width:100%;
    color: #e3e3e3;
}
.nav_menu >div p
{
    padding:5% 5% 3% 5%;
}
div.clicked
{
    color:#ffffff;   
    background-image: url("../img/mouseOver.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
div.clicked >div
{
    border-bottom:none;
}
.nav_menu >div >div:hover
{
    background-color:#337f98;
    color:#ffffff;
}
div.clicked >div:hover
{
    background:none!important;
}

.content
{
    /*width: 76%;*/
    padding:1.5% 0 1.5% 0;
    margin: 0 0 0 21em;
}
.content >div
{
    padding:1px 0 1px 0;
}

.content_data, .content_data .table_title
{
    width:100%;
}
.content_data .table_title
{
    font-size: 16px;
    color: #FFF;
    -webkit-border-radius: 3px 3px 0 0;
    -moz-border-radius: 3px 3px 0 0;
    border-radius: 3px 3px 0 0;
    behavior: url(js/PIE.htc);
    border: none;
    background: #5E9EB6;
    background: -moz-linear-gradient(top, #5E9EB6 0%, #265A6E 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5E9EB6), color-stop(100%,#265A6E));
    background: -webkit-linear-gradient(top, #5E9EB6 0%,#265A6E 100%);
    background: -o-linear-gradient(top, #5E9EB6 0%,#265A6E 100%);
    background: -ms-linear-gradient(top, #5E9EB6 0%,#265A6E 100%);
    background: linear-gradient(top, #5E9EB6 0%,#265A6E 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5E9EB6', endColorstr='#265A6E',GradientType=0 );
    -moz-box-shadow: 0 2px 2px #acacac;
    -webkit-box-shadow: 0 2px 2px #acacac;
    box-shadow: 0 2px 2px #acacac;
    border-bottom: 1px solid #0C3747;
}
.content_data div.table_title, .content_data div.table_content
{
     border-bottom: solid 1px #9EA09F;
}
.table_content>div:first-child
{
    cursor:pointer;
}
.content_data .table_content >div >div,.content_data .table_title >div >div
{
    padding: 2% 0 2% 2%;
    display:inline-block;
    vertical-align:top;
    text-align:center;
    width:31%; 
}
.content_data .table_title >div >div
{
    border-right: 1px solid #3A9AB2;
}
.content_data .table_content >div >div:last-child,.content_data .table_title >div >div:last-child
{
    border:none;
    width:28%;
}
 .table_content >div:first-child:hover, .clicked_table
{
    background-color:#337f98;
    color:#ffffff; 
}

.table_content >div +div
{
    padding:1em;
    width:97%;
}

.table_content >div +div p
{
    padding-top:1em;
}
.counter
{
    margin:5%;
    padding:4%;
    text-align:center;
    color:#ffffff;
    -moz-border-radius: 0.5em;
    -webkit-border-radius: 0.5em;
    border-radius: 0.5em;
    background-color: #32819A;
}
.counter p
{
    padding: 1% 0 0 0;
}
.counter >div p.count_number,.counter  p.user
{
    
   display:inline-block;
   vertical-align:top;
   margin:auto;
}
.counter p.count_number
{
    background-color:#ffffff;
    color:#000000;
    margin:0 2% 0 2%;
    padding:6px 4px 5px 4px;
    font-size:20px;
    font-weight: bold;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.num_page 
{
    padding:1em;
    font-weight: bold;
    text-align:center;
    background-color:#DCDEDE;
}
.num_page span
{
    color:#747573;
}
.num_page a
{
    text-decoration: none;
    color: #265A6E;
}
